body {
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px auto;
    width: 45%;
  }

  .contact-description {
    margin: 60px auto 0;
    width: 80%;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1000px) {
  body {

    .contact-form {
      width: 65%;
    }

    .contact-description {

    }
  }
}

@media only screen and (max-width: 850px) {
  body {
    .imageContainer .headerTitle {
      font-size: 2.5rem;
    }
  }
}
