body {
  min-height: 100vh;

  background-image: url("../images/flowers.png");

  .imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 600px;

    h3 {
      position: relative;
      font-family: 'Lora', serif;
      font-size: 4rem;
      color: white;
      margin: 200px 50px 0;
    }
  }

  .imageContainer::before {
    content: "";
    background-image: url("/images/story-image.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    filter: brightness(50%);
    width: 100%;
  }
}
