body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .menu {
    width: 80vw;
  }

  .order-items { // Cart
    position: fixed; // Fixed cart on right side of page
    right: 10px;
    top: 200px;
    display: flex;
    flex-direction: column; // "My Order" heading and costs section position
    justify-content: space-between;
    width: 18vw;
    height: 400px;
    padding: 10px 10px 0;
    font-family: 'Lora', serif;
    background: rgba(255, 255, 255, .5); // White background with 50% opacity
    border-radius: 15px;

    h3 {
      font-size: 1.25rem; // Font size for "My Order" text of cart
    }

    p {  // Font properties for total cost section of cart
      font-size: 0.85rem;
      font-weight: bold;
      line-height: 0.5;
    }

    hr {
      border-style: solid;
      border-width: 0;
      background-color: black;
      color: black;
      width: 100%;
      opacity: 75%;
    }

    .cart-items {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: 250px;
      width: 100%;

      .cart-headers {
        display: flex;
        font-weight: bold;
        font-size: 0.9rem;
        width: 100%;
        margin-bottom: 5px;
      }

      .cart-menu-items {
        font-size: 0.85rem;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5px;

        .cart-row {
          display: flex;
          flex-direction: row;
        }
      }

      .cart-item {
        width: 55%
      }

      .cart-price {
        width: 25%;
      }

      .cart-quantity {
        width: 20%;
      }

      .cart-quantity-input {
        height: 20px;
        width: 35px;
      }

      .cart-quantity-btn {
        border: none;
        background-color: transparent;
        color: red;
        margin-left: 5px;
      }
    }

    .costs { // CSS for costs section of cart
      display: flex;
      flex-direction: column;
      width: 100%;

      .each-cost {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
      }
    }
  }

  .category-tabs {
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
    font-size: 1.15rem;
    margin-top: 150px;
    margin-bottom: 100px;
  }

  .category-tabs .nav-link:hover {
    color: #c99c20 !important;
  }

  .menu-category { // Category headings
    display: flex;
    justify-content: center;
    margin: 75px 0 0;
    font-family: 'Lora', serif;
  }

  .menu-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;  // Display 2 menu items per row
    margin: 50px 0;
    color: grey;

    .menu-item-card { // Each menu item
      display: flex;
      margin: 15px 25px;
      max-height: 500px;
      font-family: 'Lora', serif;
      background-color: white;
      border-radius: 15px;

      p {
        margin: 0;
      }

      img {
        height: 200px;
        width: 240px;
        object-fit: cover;
        margin: 5px 25px 5px 5px;
        border-radius: 10px;
      }

      .menu-item-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 15px 15px 7px 0;
        padding: 0;
      }

      .title-description {
        margin: 0;

        h2 {
          font-size: 1.3rem;
        }
      }

      .price-and-cart { // CSS for price and "Add to Cart" button
        display: flex;
        justify-content: space-between;
        margin: 0;
        font-size: 0.85rem;

        button { // Add to cart button
          background-color: transparent;
          border: none;
          color: #c99c20;
          font-size: 1.15rem;
        }

        button:hover {
          color: orange;
        }
      }
    }

    .menu-item-card:hover {
      background-color: #f4f5e9;
    }
  }
}

@media only screen and (max-width: 1600px) {
  body {
    .menu-items-container {  // Display one menu item per row
      display: grid;
      grid-template-columns: 1fr;
    }

    .menu { // Change widths of menu items and cart
      width: 70vw;
    }

    .order-items {
      width: 28vw;
    }
  }
}
@media only screen and (max-width: 850px) {
  body {

    // Show cart on bottom of page instead for widths < 850px
    flex-direction: column;
    .menu {
      width: 100%;
    }
    .order-items {
      position: static;
      width: 90%;
      margin: 0 auto 25px;
    }

    .menu-items-container .menu-item-card { // Change text and image size of menu item cards and category tabs at top of page
      margin: 10px;

      img {
        height: 150px;
        width: 180px;
      }

      p {
        font-size: 0.8rem;
      }

      .title-description h2 {
        font-size: 1.1rem;
      }
    }

    .category-tabs {
      font-size: 0.75rem;
    }
  }
}
