body {

  .category-tabs {
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
    font-size: 1.15rem;
    margin-top: 150px;
    margin-bottom: 100px;
  }

  .menu-category {
    display: flex;
    justify-content: center;
    margin: 75px 0 0 0;
    font-family: 'Lora', serif;
  }

  .menu-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 0;
    color: grey;

    .menu-item-card {
      display: flex;
      margin: 15px 25px;
      max-height: 300px;
      font-family: 'Lora', serif;
      background-color: white;
      border-radius: 15px;

      p {
        margin: 0;
      }

      img {
        height: 250px;
        width: 300px;
        object-fit: cover;
        margin: 5px 25px 5px 5px;
        border-radius: 10px;
      }

      .menu-item-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 10px 15px 7px 0;
        padding: 0;
      }

      .title-description {
        margin: 0;

        h2 {
          font-size: 1.3rem;
        }
      }

      .price-and-cart {
        display: flex;
        justify-content: space-between;
        margin: 0;
        font-size: 0.85rem;
      }

    }
    .menu-item-card:hover {
      background-color: #f4f5e9;
    }
  }
}

@media only screen and (max-width: 1600px) {
  body .menu-items-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 850px) {
  body .menu-items-container .menu-item-card {

    margin: 10px;

    img {
      // display: none;
      height: 150px;
      width: 180px;
    }

    p {
      font-size: 0.8rem;
    }

    .title-description h2 {
      font-size: 1.1rem;
    }

  }
}
