* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  .navbar-brand {
    font-family: 'Lora', serif;
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
  }

  .nav-item .nav-link {
    font-family: 'Lora', serif;
    font-weight: 500;
    margin: 0 10px 0 0;
  }

  .socials i {
    margin: 0 20px 0 0;
  }
}
