body {
  min-height: 100%;
  #table {
    position: relative;
    margin: 150px auto 50px;
    width: 90vw;
    min-height: 75vh;
    overflow: auto;
    background: rgba(255, 255, 255, .9); // White background with 95% opacity
    text-align: center;
    border-radius: 15px;

    #current-orders {
      display: block;
      margin-bottom: 15px;
    }

    h2 {
      font-family: 'Lora', serif;
      font-weight: bold;
      font-size: 1.5rem;
      margin: 20px auto;
    }

    hr {
      margin: 0 auto;
      border-top: 0 !important;
      width: 97%;
      height: 2px;
      color: black;
      opacity: 40%;
      border-radius: 20px;
    }

    .table-headers {
      display: grid;
      grid-template-columns: 10% 25% 20% 15% 15% 15%;
      grid-template-rows: 1fr; // 1 row
      margin: 8px 20px 8px 20px;
      font-family: 'Lora', serif;
      font-weight: bold;
    }

    .table-row {
      display: grid;
      grid-template-columns: 10% 25% 20% 15% 15% 15%;
      grid-template-rows: 1fr; // 1 row
      margin: 8px 20px;
      font-family: 'Lora', serif;
      border: none;

      .row-prepTime {
        .prepTime-input {
          width: 50%;
        }
        .submit-btn {
          border: none;
          background-color: transparent;
          color: green;
        }
        .cancel-btn {
          border: none;
          background-color: transparent;
          color: red;
        }
      }
    }

  }
}
